.toogle{
    position: absolute;
    margin-left: 14em;
    margin-top: -1.8em;
    cursor: pointer;
}

.account{
    
    margin: .5rem;
}

.account p{
    font-size: 0.8em;
}


.account a{
    text-decoration: none;
    font-size: 0.8em;
}