@import './mixins/mixins.scss';
@import './variables/variables.scss';


.container-fluid {
    .toogle{
    
        position: absolute;
        margin-left: 16.5em;
        margin-top: -2em;
        cursor: pointer;
        @media screen and (max-width:320px){
            margin-left: 15em;}
        
    }

  background: $bg-color;
  // overflow: hidden;
    justify-content: center;
    .cadastro {
      @include text2;
   
      justify-content: center;
      width: 20rem;
      .content__title {
        color: $primary-color;
        @include font-secondary;
        padding-top: 6rem;
        margin-bottom: 1rem;
      }
      .content__form {
        width: 100%;
        button {
          @include button1;
          width: 10rem;
        }
      }
    }
}


.toogle{
    position: absolute;
    margin-left: 14em;
    margin-top: -1.8em;
    cursor: pointer; 
    @media screen and (max-width: 320px) {
        margin-left: 12.5em;
    }
}

.account{
    
    margin: .5rem;
    p{
        font-size: 0.8em;
    }
    a{
        text-decoration: none;
        font-size: 0.8em;
    }
}


@import '../../node_modules/bootstrap/scss/bootstrap.scss';


