.formContainer{
    padding-top: 8em;
    h1{
        @include font-secondary;
    }
    .cardForm{
        @include card;
        padding: 6em;
        @media only screen and (min-width: 300px) and (max-width: 900px){
            width: 100%;
            margin: 1rem;}
    }
    .control{
        width: 30em;
    }
   .group{
        padding: 2em;
        margin-left: 3em;

   }
   .select{
    width: 30em;
   }

   .textarea{
    padding: 1.5rem;
    resize: none;
    width: 60em;
    
   }
   

      @media only screen and (min-width: 300px) and (max-width: 900px){
            width: 100%;
            margin: 1rem;
            label{
                margin-top: .8rem;
            }
            
    }
} 

