@import './mixins/mixins.scss';
@import './variables/variables.scss';
.SearchBar{
  background-color: $secondary-color;
  color: $white;
  
  padding-top: 8rem;
  padding-bottom: 4rem;
}









@import '../../node_modules/bootstrap/scss/bootstrap.scss';