@import './variables/variables.scss';
@import './mixins/mixins.scss';



.login { 
  height: 100%;
  width: 100%;
  .login_content {
    margin: 25vh auto;
    width: 60vw;
    text-align: center;
    .content__title {
      color: $primary-color;
      @include font-small;
    }
  }
}