@import './mixins/mixins.scss';
@import './variables/variables.scss';

.anuncioCard {
  max-width: 393px;

  img {
    height: 150px;
    object-fit: cover;
  }
  button {
    @include button1;
  }
}

.notaParceiro {
  color: $white;
  padding: 0.3em;
  border-radius: 18px;
  background-color: $secondary-color
}

.classificacaoParceiro {
  color: $secondary-color;
  @include text1;
}


@import '../../node_modules/bootstrap/scss/bootstrap.scss';