.register {
    background-color: #F3F1ED;
    height: calc(100% - 5.8125rem - 3.625rem);
}

/* .register_content {
    font-size: 16pt;
} */

.register_content-text {
    color: #1DBEB4;
    font-size: 20pt;
    transform: translateY(-1rem);
}

.register_content-form {
    width: 250px;
}

.register-form > div > input { 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
}