.loginState {
    width: 100%;
    height: 10.9375rem;
    background-color: #1DBEB4;
}

.colored {
    color: #1DBEB4;
}

.closed {
    right: -100%;
    transition: 650ms;
}

.opened {
    right: 0;
    transition: 400ms;
}