.searchbar {
    background-color: #545776;
}

.searchbar-text {
    transform: translateY(0.625rem);
}

/* .location-icon {
    top: 1.5rem;
    left: 0.5rem;
    z-index: 2;
}

.date-icon {
    top: 4.5rem;
    left: 0.5rem;
    z-index: 2;
} */

