@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$primary-color: #1DBEB4;
$secondary-color: #383B58;
$alternative-color: #545776;
$bg-color: #F3F1ED;

$font-principal: "Roboto", sans-serif;

$white: #FFF;
