@use '../variables/variables.scss';

@mixin font-primary {
  font-family: $font-principal;
  font-size: 24pt;
  font-weight: bold;
}

@mixin font-secondary {
  font-family: $font-principal;
  font-size: 20pt;
  font-weight: bold;
}

@mixin font-alternative {
  font-family: $font-principal;
  font-size: 16pt;
  font-weight: bold;
}

@mixin font-small {
  font-family: $font-principal;
  font-size: 14pt;
  font-weight: bold;
}

@mixin button1 {
  font-family: $font-principal;
  color: $white;
  background-color: $primary-color;
  font-size: 14pt;
  font-weight: bold;
}

@mixin button2 {
  font-family: $font-principal;
  color: $primary-color;
  background-color: $white;
  font-size: 16pt;
  font-weight: bold;
}

@mixin button3 {
  font-family: $font-principal;
  color: $primary-color;
  background-color: $white;
  font-size: 12pt;
  font-weight: 600;
}

@mixin button4 {
  font-family: $font-principal;
  color: $white;
  padding: 0.1rem;
  font-size: 14px;
  font-weight: 600;
  background: rgba( 56, 59, 88, 0.95 );
  backdrop-filter: blur( 16.5px );
  -webkit-backdrop-filter: blur( 16.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

  a {
    color: $white;
  }

}

@mixin text1 {
  font-family: $font-principal;
  font-weight: medium;
  font-size: 14pt;
}

@mixin text2 {
  font-family: $font-principal;
  font-weight: medium;
  font-size: 12pt;
}

@mixin card {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@mixin card1 {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 8px 8px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}